* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 60%;
  position: relative;
  border: 1px solid rgb(220, 87, 82);

  border-radius: 12px;
}
.sub-box {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  margin: 10px 0px;
}
h6 {
  margin: 20px 0px;
  font-size: 16px;
  color: rgb(220, 87, 82);
}
label {
  font-size: 16px;
  margin: 10px 0px;
  color: rgb(220, 87, 82);
}
input {
  width: 100%;
  height: 30px;
  text-align: center;
  cursor: text;
}
.transfer-btn {
  margin: 40px 0px;
  width: 30%;
  padding: 8px 10px;
  background: rgb(220, 87, 82);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}
.wallet-btn {
  width: auto;
  padding: 8px 50px;
  background: blueviolet;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}
.balance-box {
  background: rgb(1, 77, 132);
  padding: 8px 16px;
  color: white;
  width: 25%;
  float: right;
  margin-top: 22px;
  font-size: 16px;
}

.read-box {
  width: 40%;
  padding: 10px;
  height: 60%;
  border: 1px solid rgb(108, 53, 160);
  border-radius: 12px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}
.read-sub-box {
  /* border: 1px solid blueviolet; */
  margin: 10px 0px;
  padding: 10px 0px;
}
.read-sub-box label {
  color: blueviolet;
  font-size: 16px;
  margin: 20px 0px;
}

.read-box p {
  font-size: 18px;
  letter-spacing: 1px;
  margin: 5px 0px;
}

.feeds {
  background-color: rgb(193, 151, 232);
  padding: 5px;
  margin-top: 5px;
}
